*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: #A42039;
}

section{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 1.5% 0%;
}

.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.navbar{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;

    li{
        display: inline-block;
        margin: 0px 15px;
    }

    a{
        color: #E5E7EB;
        font-family: sans-serif;
        font-size: 18px;
        text-decoration: none;
        list-style: none;
        list-style-type: none;
    }

    .brand{
        color: #F9FAF8;
        display: flex;
        font-size: 24px;
        font-variant: small-caps;
        font-family: sans-serif;
    }
}

.hero{
    height: auto;
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    padding: 5% auto;
    margin: 130px 0px;
    gap: 25px;

    .hero-title{
        color: #F9FAF8;
        font-size: 48px;
        font-family: sans-serif;
        margin: 0;
    }

    .hero-text{
        display: block;

        .hero-para{
            color: #E5E7EB;
            margin: 0;
            font-size: 18px;
            font-family: sans-serif;
        }

    }

    .hero-img{
        display: block;

        img{
            border-radius: 15px;
            width: 100%;
            height: auto;
        }
    }

    .btn{
        color: #F9FAF8;
        border: none;
        border-radius: 10px;
        background-color: #FFD500;
        font-weight: bold;
        font-size: 18px;
        font-family: sans-serif;
        margin: 5px 0px;
        padding: 8px 35px;
    }
}

.random{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 6%;

    .title{
        color: #A42039;
        font-family: sans-serif;
        font-size: 36px;
        margin: 5% auto;
    }

    .cards{
        display: flex;
        gap: 11px;

        .card{
            display: block;
            max-width: 170px;

            .card-img{
                border: 5px solid #A42039;
                border-radius: 15px;
                max-width: 170px;
                height: 170px;
                object-fit: contain;
            }

            .card-text{
                color: #1F2937;
                display: flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
                text-align: center;
                font-size: 18px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin: 0 auto;
            }

        }
        
    }
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    padding: 100px 0px;

    p{
        color: #1F2937;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 36px;
        font-weight: lighter;
        font-style: italic;
        margin: 0% 15%;
        padding: 0% 5%;
    }

    span{
        display: flex;
        font-size: 24px;
        font-weight: bold;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
    }
}

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 5% 15%;

    .cta-container{
        border-radius: 5px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        justify-content: space-between;
        padding: 40px 125px;
        flex-direction: row;
        background-color: #A42039;

        .cta-text{
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;

            h2{
                color: #F9FAF8;
                font-family: sans-serif;
                margin: 0;
                padding: 0;
            }

            p{
                font-size: 18px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin: 0;
                color: #F9FAF8;
            }
        }

        .cta-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: middle;

            button{
                background-color: #A42039;
                color: #E5E7EB;
                font-size: 16px;
                font-weight: bold;
                border-radius: 5px;
                border: 2px solid #E5E7EB;
                padding: 8px 35px;
            }
        }

    }

}

.copyright{
    background-color: #A42039;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    padding: 35px 0px;
}